* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #F8F8F8;
	font-family: Arial, sans-serif;
}

.container {
	max-width: 600px;
	margin: 50px auto;
	background-color: #FFF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
	margin-top: 0;
}

form {
	display: flex;
	margin-bottom: 20px;
}

form input[type="text"] {
	flex-grow: 1;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

form button[type="submit"] {
	background-color: #4CAF50;
	color: #FFF;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
	margin-left: 10px;
}

.completed {
    text-decoration: line-through;
    color: rgb(221, 219, 219);
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul li {
	background-color: #F1F1F1;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul li label {
	margin-right: 10px;
	font-size: 16px;
}

ul li input[type="checkbox"] {
	margin-right: 10px;
}

ul li button.delete {
	background-color: #F44336;
	color: #FFF;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 12px;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	form {
		flex-wrap: wrap;
	}
	form input[type="text"] {
		flex-grow: 1;
		margin-bottom: 10px;
		margin-right: 0;
	}
	form button[type="submit"] {
		flex-grow: 1;
		margin-left: 0;
	}
} 


